.hero-img {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 60vh;
    position: relative;
  }
  
  .hero-img::before {
    content: "";
    /* background-image: url("https://images.unsplash.com/photo-1560762484-813fc97650a0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0 1rem;
  }
  
  .hero-img h1 {
    font-size: 2.4rem;
    margin: 0;
  }
  
  .hero-img p {
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }
  
  /* Responsive styles for tablets */
  @media screen and (max-width: 768px) {
    .hero-img {
      height: 50vh; /* Decrease height for tablets */
    }
  
    .hero-img h1 {
      font-size: 2rem; /* Decrease font size for heading */
    }
  
    .hero-img p {
      font-size: 1.2rem; /* Decrease font size for paragraph */
    }
  }
  /* Responsive styles for phones */
  @media screen and (max-width: 480px) {
    .hero-img {
      height: 40vh; /* Further decrease height for phones */
    }
  
    .hero-img h1 {
      font-size: 1.8rem; /* Decrease font size for heading */
    }
  
    .hero-img p {
      font-size: 1rem; /* Decrease font size for paragraph */
    }
  }